
@{
    ViewBag.Title = "Imgs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive">
    <table class="table">

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <div class="embed-responsive embed-responsive-16by9">

                        <img src="@item.MIME_TYPE" class="img-fluid embed-responsive-item" alt="no image" />
                    </div>
                </td>
            </tr>

        }
    </table>
</div>