
@{
    ViewBag.Title = "קריאות פתוחות";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>קריאות פתוחות</h2>

@using (Ajax.BeginForm("CallsTable", "OpenCalls", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "CallsTable" , LoadingElementId = "progress" }))
{
    @Html.AntiForgeryToken()
    @*<div class="sticky">*@
    <div class="col-lg-offset-10 col-md-offset-8 col-sm-offset-8">
        @*<div class="align-self-end">*@
        <div id="imaginary_container">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="חיפוש" name="searchString">
                <div class="input-group-btn input-group-prepend">
                    <button type="button" class="btn btn-default" id="searchButton">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @*</div>*@
}

<div class="w-100"></div>

<div id="openCallTable">
    @Html.Partial("CallsTable")
    @*@{ Html.RenderPartial("CallsTable"); }*@
</div>
