
@{
    ViewBag.Title = "דף לא נמצא";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <p class="lead col-sm-5 col-sm-offset-4">
        הדף שחיפשת אינו קיים.<br />
        אנא בדוק כי הכתובת שרשמת נכונה.
    </p>
</div>
