@model IEnumerable<HomeHelpCallsWebSite.ViewModels.ImagesViewModelcs>

@{
    ViewBag.Title = "Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:inline;" alt="Updating ..." id="loading">
    <img src="~/Content/loader.png"/>
</div>

<div class="table-responsive">
    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="embed-responsive embed-responsive-16by9">
                        <img src="@item.MIME_TYPE" class="img-fluid embed-responsive-item" alt="no image" />
                    </div>
                </td>
            </tr>
        }
    </table>
</div>



<script type='text/javascript'>
    $(function () {
        $('.img-fluid').ready(
            function () {
                $("#loading").hide();
               // debugger;
            });
    });
</script>