#parts-modal table tbody tr:hover {
    cursor: pointer;
}

.top-message span {
    font-size: large;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

    .top-message span.phone-message {
        color: #3224F2;
        font-style: italic;
    }

.add-row {
    margin-right: 5px;
}

div.add-row-buttons-container .container-fluid:not(:first-child) {
    margin-top: 5px;
}

.submit-container {
    text-align: center;
}

.buttons-spacer-right {
    margin-right: -15px;
}
