@*@using Microsoft.AspNet.Identity*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
    //using (Html.BeginForm( "LogOff", "Account" , new { id = "logoutForm", @class = "navbar-left" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-left">
            <li>
                @Html.ActionLink("שלום " + User.Identity.Name + "!", "Index", "OpenCalls", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">התנתק</a></li>
        </ul>
    }
    }
    else
    {
        <ul class="nav navbar-nav navbar-left">
            @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
            <li>@Html.ActionLink("התחבר", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }


  